<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		
<style>
			.box1{
               margin:1px;
               border: 0.5px ridge blue;
               padding:0.3px;
               margin:100px;
               }
               
               .box1 h3{
               word-wrap: break-word;
               text-align:center;
               }
               
               img {max-width:100%;
               max-height:100%;
               ;}

        #image1 {position: absolute ;
               top:20%;
               left:0%;}

               #image2 {position: absolute ;
               top:20%;
               left:52%;}
		
		.row-content{
		float: inherit;
		justify-content:space-evenly;
		display:flex;
		}

			.box2{
               margin:1px;
               border: 0.5px ridge blue;
               padding:0.3px;
               margin:100px;
               }
               
               .box1 h3{
               word-wrap: break-word;
               text-align:center;
               }
               
               img {max-width:100%;
               max-height:100%;
               ;}

        #image1 {position: absolute ;
               top:20%;
               left:0%;}

               #image2 {position: absolute ;
               top:20%;
               left:52%;}
		
		.row-content{
		float: inherit;
		justify-content:space-evenly;
		display:flex;
		}
		
	</style>
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html"></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="#" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Tableau de bord prospectif</h2>
				<p>Analyse de la base de données Netflix</p>
				<img src="/home/simplon/Documents/Simplon/Brief jinja/templated-transit/images/seo-watch-free-link-preview.jpg"> 
				<ul class="actions">
					<li>
						<a href="#" class="button big">Entrez la valeur recherchée</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
                <div class="container">
                    <header class="major">
                        <h2>Retrouvez vos films préférés, avec vos acteurs et directeurs préférés, en fonction de vos pays de production préférés</h2>
                        <p>La base de données de Netflix à porté de main</p>
                    </header>
                        <div class="row">
                       		<div class="row-content">
                        		<div class="box1">
								    <h3>Nombre de films produit par categorie pour "United States"</h3>
                                	<img  src="/home/simplon/Documents/Simplon/Brief jinja/templated-transit/images/graphiquesfilms3.jpg" >
									<h3>Nombre de films produit en 1999 par pays</h3>
                               	    <img  src="/home/simplon/Documents/Simplon/Brief jinja/templated-transit/images/graphiquesfilms4.jpg" >
								</div>	
							</div>
                    	</div>
                </div>
            </section>
		<!-- Two -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>Si vous souhaitez rencontrer Spielberg, laissez nous vos coordonnées</h2>
						<p>C'est par ici</p>
					</header>
				</div>
				<div class="container 50%">
					<form action="#" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="name" id="name" value="" placeholder="Name" type="text">
							</div>
							<div class="6u$ 12u$(small)">
								<input name="email" id="email" value="" placeholder="Email" type="email">
							</div>
							<div class="12u$">
								<textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
									<li><input value="Send Message" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Lorem ipsum dolor</h3>
								<ul class="unstyled">
							</section>
							<section class="3u 6u$(medium) 12u$(small)">
								<h3>Culpa quia, nesciunt</h3>
								<ul class="unstyled">
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Neque, dolore, facere</h3>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Illum, tempori, saepe</h3>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved.</li>
								<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
								<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
							</ul>
						</div>
						<div class="4u$ 12u$(medium)">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Footer -->
					<footer id="footer">
						<p>&copy; {{ time_stamp }}</p>
					</footer>
	</body>
</html>